  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: rgba(255, 249, 232, 1) ;
    font-family: 'EB Garamond', serif;
}
li{
    list-style: none ;
}
a{
    text-decoration: none;
    color: #FFF9E8;
}
/* HEADER */

header{
    position: fixed;
    background: rgb(188, 117, 85, 0.7);
    width: 100%;
    transition: all 0.4s;
    z-index: 3;
}
.header.active{
    background-color: rgba(188, 117, 85, 0.8);
}
.navbar{
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px) saturate(70%);
    padding: 0 2rem;
}
.navbar .toggle_btn{
    color: #FFF9E8;
    font-size: 1.5rem;
    cursor: pointer;
}
.navbar .toggle_btn{
    display: none;
}
.logo{
    margin-left: 40px;
}
.logo img{
    width: 100%;
    height: 60px;
    padding-top: 5px;
}
.navbar .links{
    display: flex;
    gap: 40px;
}
.navbar a{
    font-size: 1.1vw;
}
.header .navbar a:hover{
    color: #BC7555;
    transition: all 0.2s;
}
.header.active .navbar a:hover{
    color: white;
    opacity: 0.5;
    transition: all .2s;
}
/* HEADER */
/* DROPDOWN MENU*/
.dropdown_menu {
    position: absolute;
    left: 0;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: rgba(188, 117, 85, 0.7);
    backdrop-filter: blur(5px);
    overflow: hidden;
    transition: height 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li{
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    z-index: 4;
}
.dropdown_menu.open{
    height: 260px;
    transition: all 0.2s;
    z-index: 2;
}
.header.active .dropdown_menu{
    background-color: rgba(188, 117, 85, 0.8);
}
/* DROPDOWN MENU*/
section{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}
.img{
    margin-left: 8%;
    flex-basis: 30%;
    justify-content: center;
}
.img img{
    position: fixed;
    width: 24%;
}

.text{
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    flex-basis: 55%;
    color: #BC7555;
}
.text hr{
    width: 36%;
    margin: 5px 0;
    color:#BC7555;
    border: 1px solid;
}
.zaglav h4{
    font-size: 1.8vw;
    font-weight: 400;
}
.zaglav{
    margin-bottom: 3%;
}
.text p{
    font-size: 1.5vw;
}
.text span{
    padding: 10px 0;
    font-size: 1.6vw;
}
.text ul,li{
    padding: 10px 0;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
}
footer{
    height:100px;
    color: #BC7555;
    font-size: 1.2vw;
    background-color: #FFF9E8;
    border-top: 1px solid #BC7555;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    text-align: center; 
}


@media (max-width: 1441px) {

footer{
    height:80px;
    color: #BC7555;
    font-size: 1.2vw;
    background-color: #FFF9E8;
    border-top: 1px solid #BC7555;
    display: flex;
    align-items: center;
    justify-content: center;
}
}




@media (max-width: 1199px){ 
.navbar .links li,a{
    list-style: none;
    text-decoration: none;
    color: #FFF9E8;
    font-size: 18px;
    transition: all 0.3s;
}
.navbar .toggle_btn{
    display: block;
}
.navbar .links{
    display: none;
}
.navbar {
    justify-content: space-between;
}
.text_school{
    height: 20vw;
}

section{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
}
.img{
    margin-left: 0;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img img{
    position: static;
    width: 350px;
}
.text{
    margin-right: 0%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    color: #BC7555;
}
.text hr{
    width: 95%;
    margin: 5px auto;
    border: 0.0001px solid #BC7555;
}
.zaglav h4{
    font-size: 24px;
    font-weight: 400;
}
.zaglav{
    margin-bottom: 3%;
    text-align: center;
}
.text p{
    font-size: 20px;
}
.text span{
    width: 90%;
    text-align: left;
    padding: 10px 0;
    font-size: 20px;
}
.text ul,li{
    width: 90%;
    text-align: left;
    padding: 10px 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}
footer{
    color: #BC7555;
    font-size: 15px;
    background-color: #FFF9E8;
    border-top: 1px solid #BC7555;
    display: flex;
    align-items: center;
    justify-content: center;
}
}