  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
html{
	scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background: rgba(255, 249, 232, 1) ;
	font-family: 'EB Garamond', serif;
}

li{
	list-style: none ;
}
a{
	text-decoration: none;
	color: #FFF9E8;
}
/* HEADER */

header{
	position: fixed;
	background-color: rgba(188, 117, 85, 0.7);
/*	background: linear-gradient(180deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%);*/
	width: 100%;
	transition: all 0.2s;
	z-index: 3;
}
.header.active{
	background-color: rgba(188, 117, 85, 0.8);
}
.navbar{
	width: 100%;
	height: 60px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px) saturate(70%);
	padding: 0 2rem;
}
.navbar .toggle_btn{
	color: #FFF9E8;
	font-size: 1.5rem;
	cursor: pointer;
}
.navbar .toggle_btn{
	display: none;
}
.logo{
	margin-left: 40px;
}

.logo img{
	padding-top: 5px;
}
.navbar .links{
	display: flex;
	gap: 40px;
}
.navbar a{
	font-size: 1.1vw;
}
.header .navbar a:hover{
	color: #BC7555;
	transition: all 0.2s;
}
.header.active .navbar a:hover{
	color: white;
	opacity: 0.5;
	transition: all .2s;
}
/* HEADER */
/* DROPDOWN MENU*/
.dropdown_menu {
	position: absolute;
	left: 0;
	top: 60px;
	height: 0;
	width: 300px;
	background: rgba(188, 117, 85, 0.6);
	backdrop-filter: blur(5px) saturate(70%);
	overflow: hidden;
	transition: height 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu li{
	padding: 10px 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dropdown_menu.open{
	height: 270px;
}
/* DROPDOWN MENU*/
/*section*/
.wrapper{
	max-width: 1810px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.content{
	margin: 100px 0;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
}
.img img{
	width: 100%;
	filter: drop-shadow(10px 10px 30px rgba(188, 117, 85, 0.25));
}
.img{
	width: 70%;
	margin: 0 auto;
}
.text{
	position: relative;
	top: -25px;
	margin: 0 auto;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	background: rgba(244, 233, 204, 0.76);
	box-shadow: 10px 10px 30px rgba(188, 117, 85, 0.26);
	backdrop-filter: blur(10px);
	text-align: center;
	color: #BC7555;
}
.text h2{
	padding: 20px 10px;
	font-weight: 400;
	font-size: 32px;
}
.text p{
	padding: 0 25px;
	padding-bottom: 40px;
	font-size: 30px;
}
/*section*/
/*FOOTER*/
footer{
	height:100px;
	color: #BC7555;
	font-size: 1.2vw;
	background-color: #FFF9E8;
	border-top: 1px solid #BC7555;
	display: flex;
	align-items: center;
	justify-content: center;
}
footer p{
	text-align: center;	
}
/*FOOTER*/
.element-animation{
	opacity: 0;
	transition: all 1.5s;
   transform: translateY(-10px);
}
.element-animation.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0);
}

@media (max-width: 1199px){
.navbar .toggle_btn{
	display: block;
}
.navbar .links{
	display: none;
} 
.navbar .links li{
	list-style: none;
	text-decoration: none;
	color: #FFF9E8;
	font-size: 16px;
	transition: all 0.3s;
}
.navbar .links a{
	list-style: none;
	text-decoration: none;
	color: #FFF9E8;
	font-size: 16px;
	transition: all 0.3s;
}
.dropdown_menu{
	display: block;
}
.text h2{
	padding: 20px 10px;
	font-weight: 400;
	font-size: 26px;
}
.text p{
	padding: 0 25px;
	padding-bottom: 40px;
	font-size: 21px;
}
footer{
	color: #BC7555;
	font-size: 16px;
	background-color: #FFF9E8;
	border-top: 1px solid #BC7555;
	display: flex;
	align-items: center;
	justify-content: center;
}
}
@media (max-width: 966px){
.text h2{
	padding: 20px 10px;
	font-weight: 400;
	font-size: 21px;
}
.text p{
	padding: 0 25px;
	padding-bottom: 40px;
	font-size: 18px;
}
}
@media (max-width: 727px){
.text h2{
	padding: 20px 10px;
	font-weight: 400;
	font-size: 18px;
}
.text p{
	padding: 0 25px;
	padding-bottom: 40px;
	font-size: 16px;
}
}
@media (max-width: 426px){
.content{
	width: 100%;
}
}