* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background: rgba(255, 249, 232, 1) ;
	font-family: 'EB Garamond', serif;
}

/* HEADER */

header{
	position: fixed;
	background: rgb(188, 117, 85, 0.7);
	width: 100%;
	transition: all 0.4s;
	z-index: 3;
}
.header.active{
	background-color: rgba(188, 117, 85, 0.8);
}
.navbar{
	width: 100%;
	height: 60px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px) saturate(70%);
	padding: 0 2rem;
}
.navbar .toggle_btn{
	color: #FFF9E8;
	font-size: 1.5rem;
	cursor: pointer;
}
.navbar .toggle_btn{
	display: none;
}
.logo{
	margin-left: 40px;
}
.logo img{
	width: 100%;
	height: 60px;
	padding-top: 5px;
}
.navbar .links{
	display: flex;
	gap: 20px;
}
.navbar .links li,a{
	list-style: none;
	text-decoration: none;
	color: #FFF9E8;
	font-size: 16px;
	transition: all 0.3s;
}
.header .navbar a:hover{
	color: white ;
	opacity: 0.5 ;	
	transition: all .2s;
}
/* HEADER */
/* DROPDOWN MENU*/
.dropdown_menu {
	position: absolute;
	left: 0;
	top: 60px;
	height: 0;
	width: 300px;
	background-color: rgba(188, 117, 85, 0.7);
	backdrop-filter: blur(5px);
	overflow: hidden;
	transition: height 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li{
	padding: 10px 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.5s;
	z-index: 4;
}
.dropdown_menu.open{
	height: 260px;
	transition: all 0.2s;
	z-index: 2;
}
.header.active .dropdown_menu{
	background-color: rgba(188, 117, 85, 0.8);
}
/* DROPDOWN MENU*/
.h{
	color: #BC7555;
	font-size: 2.5vw;
	text-align: center;
	padding-top: 100px;
}
.container_table{
	width: 80%;
	margin: 0 auto;
	height: 100%;
	padding: 40px 0;
}
.table{
	color: #BC7555;
	width: 100%;
	border-collapse:collapse;
}
/* Стили таблицы (IKSWEB) */
table.iksweb{text-decoration: none;border-collapse:collapse;width:100%;text-align:center;}
table.iksweb th{font-weight:normal;font-size:24px; color:#BC7555;background-color:#000000;}
table.iksweb td{font-size:23px;color:#BC7555;}
table.iksweb td,table.iksweb th{white-space:pre-wrap;padding:15px 10px;line-height:22px;vertical-align: middle;border: 1px solid #BC7555;}
footer{
	height:100px;
	color: #BC7555;
	font-size: 1.2vw;
	background-color: #FFF9E8;
	border-top: 1px solid #BC7555;
	display: flex;
	align-items: center;
	justify-content: center;
}
footer p{
	text-align: center;	
}

@media (max-width: 1199px){ 
.navbar .toggle_btn{
	display: block;
}
.navbar .links{
	display: none;
}
.navbar {
    justify-content: space-between;
}
.navbar .links li,a{
	list-style: none;
	text-decoration: none;
	color: #FFF9E8;
	font-size: 16px;
	transition: all 0.3s;
}
.h{
	font-size: 32px;
	padding-top: 100px;
}
.container_table{
	width: 100%;
	margin: auto;
}
.ptb-3{
	padding-top: 40px;
}
.table{
	color: #BC7555;
	width: 100%;
	border-collapse:collapse;
}
footer{
	height:100px;
	color: #BC7555;
	font-size: 10px;
	background-color: #FFF9E8;
	border-top: 1px solid #BC7555;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
table.iksweb{text-decoration: none;border-collapse:collapse;width:100%;text-align:center;}
table.iksweb th{font-weight:normal;font-size:14px; color:#BC7555;background-color:#000000;}
table.iksweb td{font-size:13px;color:#BC7555;}
table.iksweb td,table.iksweb th{white-space:pre-wrap;padding:10px 5px;line-height:13px;vertical-align: middle;border: 1px solid #BC7555;}
}
@media (max-width: 560px){
.h{
	font-size: 24px;
	padding-top: 100px;
}
.third{
	width: 100%;
}
table.iksweb{text-decoration: none;border-collapse:collapse;width:100%;text-align:center;}
table.iksweb th{font-weight:normal;font-size:14px; color:#BC7555;background-color:#000000;}
table.iksweb td{font-size:13px;color:#BC7555;}
table.iksweb td,table.iksweb th{white-space:pre-wrap;padding:10px 5px;line-height:13px;vertical-align: middle;border: 1px solid #BC7555;}
}